{% extends 'base.html.twig' %}

{% block title %}DOI2PMH - {{ 'admin.users.title'|trans }}{% endblock %}

{% block admin_content %}
	{% form_theme configForm 'bootstrap_4_layout.html.twig' %}
	<div class="col-lg-5 col-sm-12 mx-auto">
		<div class="row">
			<div class="col-12">
				<h1 class="mb-3">{{ 'admin.configuration.title'|trans }}</h1>
				{{ form_start(configForm, {action: path('config_edit'), method: "POST"}) }}
				{{ form_row(configForm.repositoryName) }}
				{{ form_row(configForm.adminEmail) }}
				{{ form_row(configForm.earliestDatestamp) }}
				<div class="form-group">
					<div>
					<label for="{{ field_name(configForm.excludedTypes) }}">{{ field_label(configForm.excludedTypes) }}</label>
					<span class="text-primary" data-bs-toggle="tooltip" title="{{ 'admin.form.config.excludedTypes.tooltip'|trans }}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
							<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
							<path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
						</svg>
					</span>
					&nbsp;
					<a type="button" title="{{ 'admin.form.config.excludedTypes.add'|trans }} "id="excluded-types-add">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
							<path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
							<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
						</svg>
					</a>
					</div>
					<ul id="excluded-types"
						data-index="{{ configForm.excludedTypes|length > 0 ? configForm.excludedTypes|last.vars.name + 1 : 0 }}"
						data-prototype="{{ form_widget(configForm.excludedTypes.vars.prototype)|e('html_attr') }}"
					>
						{% for excludedType in configForm.excludedTypes %}
							<li class="input-group">{{ form_widget(excludedType) }}</li>
						{% endfor %}
						{% if not configForm.excludedTypes %}
							{{ form_widget(configForm.excludedTypes) }}
						{% endif %}
					</ul>
					<a type="button" id="excluded-types-delete" class="color-main d-none" title="{{ 'admin.form.config.excludedTypes.delete'|trans }}">
						<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
							<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
							<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
						</svg>
					</a>
				</div>
				{{ form_end(configForm) }}
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-12">
				<h1 class="mb-3">{{ 'admin.refresh.title'|trans }}</h1>
				<p>{{ doiUpdatedLogs|raw }}</p>
				<button id="refreshDois" class="btn btn-info">{{ 'admin.refresh.button'|trans }}</button>
				<div class="progress" id="progress" style="display: none; height: 20px">
					<div class="progress-bar" id="progressContent" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<div class="row">
					<div class="col">
						<span class="small text-info" style="display: none" id="reportSpan"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
