{% extends 'base.html.twig' %}

{% block title %}DOI2PMH - {{ 'admin.users.title'|trans }}{% endblock %}

{% block admin_content %}
	<h1 class="mb-3">
		{{ 'admin.users.title'|trans }}
	</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">{{ 'admin.users.table.header.email'|trans }}</th>
				<th scope="col" class="text-center">
					{{ 'admin.users.table.header.folder'|trans }}
					<span class="text-primary" data-bs-toggle="tooltip" title="{{ 'admin.users.table.header.tooltip'|trans }}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
							<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
							<path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
						</svg>
					</span>
				</th>
				<th scope="col" class="text-center">{{ 'admin.user.edit.isAdmin'|trans }}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
        {% for user in users %}
			<tr>
				<th scope="row">{{ user.email }}</th>
				<td class="text-center">{% if user.rootFolder.id is defined %}{{ user.rootFolder.name }}{% endif %}</td>
                <td class="text-center">
					{% if user != app.user %}
						<form class="isAdminForm" action="{{ path('user_edit_admin', {userToEdit: user.id}) }}" method="POST">
							<input class="form-check input m-auto" type="checkbox" {{ user.isAdmin ? 'checked' : ''}} name="isAdmin" id="isAdmin_{{ user.id }}" />
						</form>
					{% else %}
						{{ 'admin.users.table.currentAdmin'|trans }}
					{% endif %}
				</td>
				<td class="text-center">
					{% if user != app.user %}
					<a type="button" title="{{ 'admin.form.folder.user.delete.title'|trans }}" data-toggle="modal" data-target="#userDeleteModal_{{ user.id }}">
						<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
							<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
							<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
						</svg>
					</a>
					{% else %}
						<a type="button" class="btn btn-primary text-white" id="apiTokenModalToggle" >{{'admin.user.token.button'|trans }}</a>
					{% endif%}
					{{ render(path('user_delete_index', {user: user.id})) }}
				</td>
			</tr>
        {% endfor %}
		</tbody>
	</table>
	{% include 'admin/modals/user/apiToken.html.twig' %}
{% endblock %}
