{% extends 'base.html.twig' %}

{% block title %}DOI2PMH - DOI
{% endblock %}

{% block body %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			{% for step in folder_path|reverse %}
				<li class="breadcrumb-item">
					<a href="{{ path('admin_get_folder', {id: step.id}) }}">{{ step.tag }}</a>
				</li>
			{% endfor %}
			<li class="breadcrumb-item active" aria-current="page">{{ folder.tag }}</li>
		</ol>
	</nav>
	<h3>{{ folder.tag }}
		<small class="text-muted">{{ folder.name }}</small>
		{% if app.user.canEdit(folder) %}
		<!-- Button trigger modal folder -->
		<button type="button" class="btn btn-outline-secondary btn-sm float-right" data-toggle="modal" data-target="#editFolderModal">
			<i class="fas fa-pen"></i> Edit
		</button>
		{% endif %}
		{% if app.user.canDelete(folder) %}
		<!-- Button delete folder -->
		<a class="btn btn-outline-danger btn-sm float-right" href="{{ path('admin_delete_folder', {'id': folder.id }) }}" role="button"><i class="fas fa-trash"></i> Delete</a>
		{% endif %}
	</h3>
	<div class="list-group">
		{% for child in folder.children %}
			<div class="list-group">
				<a href="{{ path('admin_get_folder', {id: child.id}) }}" class="list-group-item list-group-item-action">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">
							<i class="fas fa-folder"></i>
							{{ child.tag }}</h5>
						<small>
							{% if child.children|length > 0 %}
								<span class="badge badge-primary badge-pill">{{ child.children|length }}
									<i class="fas fa-folder"></i>
								</span>
							{% endif %}
							{% if child.dois|length > 0 %}
								<span class="badge badge-primary badge-pill">{{ child.dois|length }}
									<i class="fas fa-link"></i>
								</span>
							{% endif %}
						</small>
					</div>
					<p class="mb-1">{{ child.name }}</p>
				</a>
			</div>
		{% endfor %}
		{% for doi in folder.dois %}
			<div class="list-group">
				<a href="{{ doi.uri }}" target="_blank" data-id="{{ doi.id }}" class="doi list-group-item {% if not doi.cached %}list-group-item-warning{% endif %} list-group-item-action">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">
							<i class="fas fa-link"></i>
							{{ doi.uri }}
						</h5>
						{% if app.user.canEdit(folder) %}
						<small>
							<button type="button" class="btn btn-outline-danger btn-sm" onclick="return deleteDOI('{{doi.id}}')"><i class="fas fa-trash"></i> Remove</button>
							<button type="button" class="btn btn-outline-secondary btn-sm" onclick="return editDOI('{{doi.id}}')"><i class="fas fa-pen"></i> Edit</button>
						</small>
						{% endif %}
					</div>
					<p class="mb-1 doi-citation">{{ doiservice.citation(doi)|raw }}</p>
				</a>
			</div>
		{% endfor %}
	</div>

	{% if app.user.canEdit(folder) %}
	<!-- Button trigger modal folder -->
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#folderModal">
		<i class="fas fa-plus-circle"></i>
		Add folder
	</button>
	<!-- Button trigger modal folder -->
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#doiModal">
		<i class="fas fa-plus-circle"></i>
		Add DOI
	</button>
	<!-- Modal create folder -->
	<div class="modal fade" id="folderModal" tabindex="-1" role="dialog" aria-labelledby="folderModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				{{ form_start(folderform) }}
				<div class="modal-header">
					<h5 class="modal-title" id="folderModalLabel">Add folder</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					{{ form_errors(folderform) }}
					{{ form_row(folderform.name) }}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					{{ form_row(folderform.submit, { 'label': 'Submit me' }) }}
				</div>
				{{ form_end(folderform) }}
			</div>
		</div>
	</div>

	<!-- Modal edit folder -->
	<div class="modal fade" id="editFolderModal" tabindex="-1" role="dialog" aria-labelledby="editFolderModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				{{ form_start(editfolderform) }}
				<div class="modal-header">
					<h5 class="modal-title" id="editFolderModalLabel">Edit folder</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					{{ form_errors(editfolderform) }}
					{{ form_row(editfolderform.name) }}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					{{ form_row(editfolderform.submit, { 'label': 'Submit me' }) }}
				</div>
				{{ form_end(editfolderform) }}
			</div>
		</div>
	</div>

	<!-- Modal doi -->
	<div class="modal fade" id="doiModal" tabindex="-1" role="dialog" aria-labelledby="doiModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				{{ form_start(doiform) }}
				<div class="modal-header">
					<h5 class="modal-title" id="doiModalLabel">Add DOI</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					{{ form_errors(doiform) }}
					{{ form_row(doiform.uri) }}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					{{ form_row(doiform.submit, { 'label': 'Submit me' }) }}
				</div>
				{{ form_end(doiform) }}
			</div>
		</div>
	</div>
	<!-- Modal edit doi -->
	<div class="modal fade" id="editDoiModal" tabindex="-1" role="dialog" aria-labelledby="editDoiModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				{{ form_start(editdoiform, {'action': path('admin_edit_doi',{'id':0}), "attr": {'data-action': path('admin_edit_doi',{'id':0})}}) }}
				<div class="modal-header">
					<h5 class="modal-title" id="editDoiModalLabel">Edit DOI</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					{{ form_errors(editdoiform) }}
					{{ form_row(editdoiform.uri) }}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					{{ form_row(editdoiform.submit, { 'label': 'Submit me' }) }}
				</div>
				{{ form_end(editdoiform) }}
			</div>
		</div>
	</div>

	<!-- Modal confirm delete doi -->
	<div class="modal fade" id="deleteDoiModal" tabindex="-1" role="dialog" aria-labelledby="deleteDoiModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteDoiModalLabel">Remove DOI ?</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<a class="btn btn-danger" href="#" data-link="{{ path('admin_delete_doi', {"id":0}) }}" role="button"><i class="fas fa-trash"></i> Remove</a>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endblock %}
